html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#content{
    width: 100vw;
    height: 100vh;
}

/* header - title, icon and hamburger menu  */
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    background: linear-gradient(to right,rgb(0, 40, 66),rgba(0, 65, 109, 0.904) 60%);
}

#title{
    padding: 3vh;
    padding-left: 20px;
    color: white;
    font-size: 7vh;
    font-family: 'Oldenburg', cursive;
}

i.hamburger-menu{
    display: none;
    margin: 5%;
    color: white;
    font-size: 8vw;
}

#main-wrapper{
    display: flex;
    height: 90%;
}

/* left panel for switching between projects */
.projects-picker{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1vw;
    min-width: 250px;
    width: 25vw;
    background-color: rgb(0, 40, 66);
}

#projects-header{
    color: white;
    text-align: center;
    font-family: 'Oldenburg', cursive;
}

.project-tab{
    display: flex;
    margin: 0.9vh 20px;
    padding: 0.8vh;
    border: 1px solid transparent;
    border-radius: 100px;
    background: linear-gradient(to bottom,rgb(0, 51, 85) 50%,rgb(0, 58, 97) 50%);
    background-position: right bottom;
    background-size: 100% 250%;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.project-tab:hover{
    background-position: left top;
    transition: all 0.25s ease;
}

.project-tab:active{
    border: 1px solid white;
}

.project-tab p, .project-tab .delete-project-icon{
    margin: 0;
    padding: 0;
}
.project-tab p{
    flex-grow: 1;
    text-align: left;
}
.project-tab .delete-project-icon{
    align-self: center;
    margin-right: 1vh;
}

.project-icon{
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}

#add-project-button{
    justify-content: center;
    background: none;
    background-color: tomato;
}

.project-text-input{
    width: 75%;
    border: unset;
    background-color: rgba(255, 255, 255, 0.247);
    color: white;
    font-size: 20px;
}

.project-text-input:focus{
    outline: none;
    background-color: rgba(255, 255, 255, 0.115);
    transition: background-color 0.25s ease-in-out;
}

.confirm-project-icon{
    align-self: center;
    padding: 5px;
    width: 20px;
    height: 20px;
    color: green;
}

.cancel-project-icon{
    align-self: center;
    padding: 5px;
    width: 20px;
    height: 20px;
    color: rgba(255, 0, 0, 0.603);
}

.confirm-project-icon:hover{
    transform: scale(1.2);
}

.cancel-project-icon:hover{
    transform: scale(1.2);
}

#custom-project-tabs{
    overflow-x: hidden;
    overflow-y: scroll;
    flex-grow: 1;
}

#custom-project-tabs .project-tab{
    padding-left: 4vh;
}

.icon-shown{
    display: inline;
    width: 17%;
}

.icon-hidden{
    visibility: hidden;
    width: 17%;
}

.delete-project-icon{
    z-index: 100;
    align-items: center;
    visibility: hidden;
    padding: 2vh;
    color: rgba(255, 0, 0, 0.603);
}

.project-tab:hover .delete-project-icon{
    visibility: visible;
    transition: 0.25s ease-in;
}

/* panel for displaying a project*/
.project-area{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 40, 66, 0.788);
}
.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    padding-bottom: 2vh;
    width: 80%;
    border-radius: 10px;
    background-color: rgb(0, 40, 66);
    color: white;
}

.project-name{
    padding: 1.5vw;
    text-align: center;
    font-size: 5vh;
    font-family: 'Oldenburg', cursive;
}

.todos-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

/* add/clear todo buttons */

.add-clear-todos{
    display: flex;
    width: 60%;
}

.add-todo-text{
    width: 100%;
}

.add-todo{
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 2vh;
    width: 60%;
    background-color: rgba(3, 95, 0, 0.603);
    text-align: center;
    font-weight: 1500;
    font-size: 2.5vh;
    transition: all 0.5s ease;
}

.add-todo:hover{
    background-color: rgba(3, 95, 0, 0.603);
    transition: 0.25s ease-in;
    transform: scale(1.05);
}

.clear-todo{
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 2vh;
    margin-left: 5px;
    width: 60%;
    background-color: rgba(95, 0, 0, 0.603);
    text-align: center;
    font-size: 2.5vh;
    transition: all 0.5s ease;
}

.clear-todo:hover{
    background-color: rgba(95, 0, 0, 0.603);
    transition: 0.25s ease-in;
    transform: scale(1.05);
}

/* todo displaying details */
.todo{
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.144);
    font-size: 2.5vh;
    transition: all 0.5s ease;
}

.todo:hover{
    background-color: rgba(255, 255, 255, 0.089);
}

.todo-priority-indicator{
    align-self: stretch;
    width: 10px;
    opacity: 0.6;

    justify-self: stretch;
}
.todo-priority-indicator[data-priority='0']{
    background-color: transparent;
}
.todo-priority-indicator[data-priority='1']{
    background-color: green;
}
.todo-priority-indicator[data-priority='2']{
    background-color: yellow;
}
.todo-priority-indicator[data-priority='3']{
    background-color: red;
}

.todo input[type='checkbox']{
    margin: 2vh;
    padding: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(255, 255, 255, 0.185);
    border-radius: 100%;
    background: transparent;

    -webkit-appearance: none;
}
.todo input[type='checkbox']:checked{
    background-color: #AABBDD;
}
.todo input[type='checkbox']:checked ~ .todo-title{
    text-decoration: line-through;
}

p.todo-title{
    display: inline;
    flex-grow: 1;
    margin-right: auto;

    overflow-wrap: break-word;
}

.edit-name-input{
    display: inline;
    align-self: stretch;
    flex-grow: 1;
    min-width: 30%;
    height: 7.7vh;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 2.5vh;
    font-family: 'Roboto', sans-serif;
}

.edit-name-input:focus{
    outline: none;
    background-color: rgba(255, 255, 255, 0.115);
    transition: background-color 0.25s ease-in-out;
}

.todo-edit-date{
    display: none;
    visibility: hidden;
    min-width: 6.5vw;
    border: unset;
    background-color: transparent;
    color: white;
    font-size: 1.5vh;
}

.todo:hover .todo-edit-date{
    display: inline;
}

.todo-time-left{
    min-width: 6vw;
    text-align: right;
    font-size: 0.8rem;
}

.delete-todo-icon{
    z-index: 100;
    visibility: hidden;
    padding: 2vh;
    color: rgba(255, 0, 0, 0.603);
}

.delete-todo-icon:hover{
    transform: rotate(90deg) scale(1.5);
}

.edit-name-input:focus ~ .todo-edit-date{
    display: none;
    visibility: hidden;
}

.todo:hover .delete-todo-icon, .todo:hover .todo-edit-date{
    visibility: visible;
    transition: 0.25s ease-in;
}

.todo.hovered .delete-todo-icon{
    visibility: visible;
}

.todo:hover .todo-time-left, .todo.hovered .todo-time-left{
    display: none;
}

/* add todo form elements */

.create-todo-form{
    display: grid;

    grid-template-columns: repeat(4,1fr);
}

.create-todo-form .todo-name-input{
    padding: 2vh;
    border: unset;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 2.5vh;

    grid-column: 1 / 5;
}

.create-todo-form .todo-name-input:focus{
    outline: none;
    background-color: rgba(255, 255, 255, 0.115);
    transition: background-color 0.25s ease-in-out;
}

.create-todo-form .todo-priority-picker{
    margin: 5px;
    margin: 20px 20px;
    padding: 100px;
    padding: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.11);
    color: white;
    font-size: 2vh;
}

#todo-priority-picker option{
    background-color: rgba(0, 51, 85, 0.589);
}

.create-todo-form label{
    padding: 10px;
}

.create-todo-form .due-date-picker{
    margin-right: 20px;
    border: unset;
    background-color: rgba(255, 255, 255, 0.11);
    color: white;
    font-size: 2vh;
}

.create-todo-form .accept-new-todo{
    margin: 5px;
    padding: 10px;
    background-color: rgba(3, 95, 0, 0.603);
    text-align: center;

    grid-column: 1 / 3;
}

.create-todo-form .cancel-new-todo{
    margin: 5px;
    padding: 10px;
    background-color: rgba(95, 0, 0, 0.603);
    text-align: center;

    grid-column: 3 / 5;
}

/* change items that display on hover to be always visible on touchscreens */
@media (hover:none){
    .delete-todo-icon, .delete-project-icon{
        visibility: visible;
    }
}

/* resize areas to fit mobile screens, display hamburger menu*/
@media (max-width:900px){
    .create-todo-form label{
        text-align: right;

        grid-column: 1 / 3;
    }
    .create-todo-form .todo-priority-picker{
        margin: 0;
    }
    .create-todo-form select, .create-todo-form input[type='date']{
        margin: 0;
        width: 80%;

        grid-column: 3 / 5;
    }

    #title{
        font-size: 3.5vh;
    }

    i.hamburger-menu{
        display: unset;
    }

    #content{
        width: 100vw;
        height: 100vh;
    }

    #header{
        height: 10%;
    }

    #main-wrapper{
        flex-direction: column;
        height: 90%;
    }

    .projects-picker{
        display: unset;
        width: 100%;
        height: 100%;
    }

    .visible{
        display: inherit;
    }

    .hidden{
        display: none;
    }

    .project-area{
        width: 100%;
        height: 100%;
    }

    .project-card{
        max-height: 95%;
        width: 95%;;
    }

    .add-clear-todos{
        width: 90%;
    }
    .todo{
        width: 90%;
    }
}
